<style>
.slick-dots li {
  display: inline-block;
  }
  
.div-co.row.one-time {
  width: 100%;
  margin: atuo;
}
.div-co.row ul li{
  background: none;
}
</style>

<h3 class="tt" style="font-size:20px;background-color:orange;">New Review</h3>
  <div class="div-co row one-time">
    <% @fooddrinks.last(6).reverse.each do |fooddrink| %>
      <div class="col-md-3">
          <div class="text-center"  style="height-max:100px;">
            <%= link_to fooddrink_path(fooddrink.id) do %>
              <%= image_tag(fooddrink.file, class: "img-thumbnail avatar") %>
            <% end %>
          </div>
          <h4 class="div-co-name"><%= fooddrink.name %></h4>
      </div>
  <% end %>
</div>