<h3>New Reviews</h3>
<% @fooddrinks.last(3).reverse.each do |fooddrink| %>
    <div class="col-md-4">
      <%= link_to fooddrink_path(fooddrink.id) do %>
        <%= image_tag(fooddrink.file, class: "img-thumbnail cover") %>
      <% end %>
    </div>
<% end %>