<h3>Recommend Foods</h3>
<% @recommendfood.first(3).each do |food| %>
    <div class="col-md-4">
      <%= link_to fooddrink_path(food.id) do %>
        <%= image_tag(food.file, class: "img-thumbnail cover") %>
      <% end %>
    </div>
<% end %>