<h3>Recommend Drinks</h3>
<% @recommenddrink.first(3).each do |drink| %>
  <div class="col-md-4">
    <%= link_to fooddrink_path(drink.id) do %>
      <%= image_tag(drink.file, class: "img-thumbnail avatar") %>
    <% end %>
    <h4 class="div-co-name"><%= drink.name %>
    <br>[ <%= drink.address %>]
    </h4>
  </div>
<% end %>
