<% if user_signed_in? %>
    <h1>User Information</h1>
    <% if current_user.name.presence? %>
    Name: <%= current_user.name %><br />
    <% end %>
    Gender: 
    <% if current_user.gender %>
    Male
    <% else %>
    Female
    <% end %>
<% end %>