<div class="row">
  <div class="col-md-3 left-side">
    <h3>Categories</h3>
  </div>
  
  <div class="col-md-9 right-side">
    <div class="col-md-12">
      <h3>New Review</h3>
    </div>
    
    <div class="col-md-12">
      <h3>Foods</h3>
      <% @fooddrinks.each do |food| %>
          <% if food.foodtype %>
            <div class="col-md-4">
              <%= link_to fooddrink_path(food.id) do %>
                <%= image_tag(food.file, class: "img-thumbnail") %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
    
    <div class="col-md-12">
      <h3>Drinks</h3>
      <% @fooddrinks.each do |drink| %>
        <% if !drink.foodtype %>
          <div class="col-md-4">
            <%= link_to fooddrink_path(drink.id) do %>
              <%= image_tag(drink.file, class: "img-thumbnail") %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>