<h1>Users</h1>
<table>
  <thead>
    <thead>
      <tr>
        <th>Email</th><th>Role</th>
      </tr>
    </thead>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
        <td><%= link_to user.name, show_user_path(user.id) %></td>
      <td><%= user.email %></td>
      <td><%= user.roles.first.name if user.roles.first.presence %></td>
      <td>
        <%= form_tag("/admin/user/" + user.id.to_s, method: :PUT) do %>
          <input type="submit" value="Make Admin"/>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
