<% @fooddrinks.each do |fooddrink| %>
    <div class="col-md-4">
        <%= link_to fooddrink_path(fooddrink.id) do %>
            <%= image_tag(fooddrink.file, class: "img-thumbnail avatar") %>
        <% end %>
    </div>
<% end %>