@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";

/* universal */
body {
    padding-top: 60px;
}
section {
    overflow: auto;
}

a:visited {
    color: #ffffff;
}

textarea {
    resize: none;
}

.center {
    text-align: center;
    .actions {
        text-align: left;
    }
    .form-group {
        text-align: left;
    }
    h1 {
        margin-bottom: 30px;
    }
}

.avatar {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

/* form */

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

/* profile */
.left-side {
    text-align: left;
    border-right: 1px solid black;
}

.right-side {
    text-align: left;
    border-left: 1px solid black;
}

/* foods drinks */
.right-align {
    text-align: right;
}

.review {
  p {
    margin-bottom: 10px;
  }
}