@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: none;
}

.background-image {
  background-image: url("../bg.jpg");
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.auth-content {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  margin: auto;
  z-index: 2;
  /********/
  padding: 10px 20px;
  top: 90px;
  min-width: 300px;
}

div.auth-content:hover, div.auth-content:active, div.auth-content:focus {
  background: rgba(255, 255, 255, 0.6);
}

.center {
  text-align: center;
  .actions {
    text-align: left;
    .btn-primary {
      &:visited {
        @extend .btn-primary;
      }
    }
  }
  .form-group {
    text-align: left;
  }
  h1 {
    margin-bottom: 30px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.social-button-group{
  width: 600px;
}

.small-avatar {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

/* form */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* profile */
.left-side {
  text-align: left;
}

.right-side {
  text-align: left;
}

/* foods drinks */
.right-align {
  text-align: right;
}

.review {
  p {
    margin-bottom: 10px;
  }
}

/* comment */
.comment-avatar {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.social-button-group {
  width: 600px;
}

/* carousel */
.slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #00befa;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #00befa;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #00befa;
}

// css background

.temp {
    background-color: #2b303a;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    border-right: 1px solid black;
    box-sizing: border-box;
    width: 210px;
    
    position: relative;
    display: block;
    color: rgb(170, 171, 174);
   /*z-index: 2;*/
    padding: 10px 20px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.temp li a:hover{
   background-color: rgba(69, 74, 84, 0.3);
    color: #fff;
}

.row ul li {
   background-color: #2b303a;
}
.row li {
  display: list-item;
  text-align: -webkit-match-parent;
}

u.row l {
  height: auto; position: static; margin-bottom: 5px; width: 100%;
  line-height: 18px;
  display: block;
  list-style-type: disc;
}

.menu{
   color:#BB5501;
   font-family:cursive;
   font-size:48px;
   text-shadow:5px 2px #BB5501;
   letter-spacing: 5px;
}

.tt {
  font-family:cursive;
  font-size:30px;
  font-weight: bold;
}
.img-thumbnail {
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.div-co-name {
  text-align:center;
  font-family:cursive;
}

.div-co .img-thumbnail {
  width: auto;
  height: 70px;
  overflow: hidden;
}

/* css for menu */
.page-container .sidebar-menu #main-menu li {
    position: relative;
    margin: 0;
    font-size: 12px;
    border-bottom: 1px solid rgba(69, 74, 84, 0.7);
}
.page-container .sidebar-menu #main-menu li.has-sub > a:before {
    position: relative;
    content: '\e879';
    display: inline-block;
}
.page-container.sidebar-collapsed .sidebar-menu .sidebar-menu-inner {
	/*position : relative;*/
	width: 50%;
}
