@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";

/* universal */
body {
    padding-top: 60px;
}
section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    .actions {
        text-align: left;
    }
    .form-group {
        text-align: left;
    }
}

.avatar {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

/* form */

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}